section{
    padding: 1rem 1.5rem;
    margin-bottom: 1rem;
    border: 1px solid #eaeaea;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }